theme
config.toml
public
output
.env
*.log
*.swo
*.swp
output/
.terraform
env.yaml
.env
resume_post.md
*_post.md
resume_wip.md
resume_wip*.md
.terraform.lock.hcl
resumes/wip*
./resumes/specific-*
resumes/specific-*
cscope.*
tags
